{
	auto_https off
	admin off
}

:{$PORT:8080} {
	encode zstd gzip

	header {
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	route {
		handle /healthz {
			header Content-Type text/plain
			respond "ok" 200
		}

		handle {
			root * /srv
			try_files {path} /index.html
			file_server
		}
	}
}
