{
	auto_https off
	admin off
}

:{$PORT:8080} {
	encode zstd gzip

	handle /healthz {
		header Content-Type text/plain
		respond "ok" 200
	}

	header {
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	root * /srv
	try_files {path} /index.html
	file_server
}
